<h1>Eat-Da-Burger!</h1>

{{!-- <h2>Eat-Da-Burger!</h2> --}}

<ul>
  {{#each burgers}}
    {{#unless devoured}}
      <li>
        <p>
          {{this.id}}. {{this.burger_name}}
        </p>
        <button class="change-devoured" data-id="{{this.id}}" data-newdevoured="{{devoured}}">
		      {{#if devoured}}DEVOURED!{{else}}Devour It!{{/if}}
	      </button>
      </li>
    {{/unless}}
  {{/each}}
</ul>

<h2>Devoured Burgers!</h2>

<ul>
  {{#each burgers}}
    {{#if devoured}}
        <li>
          <p>
            {{this.id}}. {{this.burger_name}}
          </p>  
        </li>
    {{/if}}
  {{/each}}
</ul>

<form class="create-form">
  <div class="form-group">    
    <input type="text" id="ca" name="burger_name">
    <p> Enter a burger you want to eat! Click the "Submit button."</p>
    <button type="submit">Submit</button>
  </div>  
</form>
